h1 {
  color: red;
  font-style: oblique;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h2.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

body.light {
  color: black;
  background-color: white;
}

body.dark {
  color: white;
  background-color: black;
}

button {
  float: right;
}